.hr-card-color{
    border: 2px rgb(17, 0, 255) solid;
    height: 0px;
    width: 65px;
}
.judul{
    padding-top: 30px;
    padding-bottom: 10px;
}
.background{
    background-color: #F3F3F3;
}
.bawah{
    padding-bottom: 50px;
}

/* Header- Navbar */
.navbar-background{
    background-color: #131A58;
}

.tdecor{
    text-decoration: none;
    font-size: 20px;
    color: black;
    text-align: center;
}
.navbar-ul li{
    padding-right: 40px;
}
.navbar-gambar{
    margin-right: 10px;
}
.navbar-home{
    float: right;

}
.dropdown {
    float: right;
    overflow: hidden;
    padding-top: 5px;
}
.dropdown .dropbtn {
    font-size: 16px;  
    border: none;
    outline: none;
    color: rgb(0, 0, 0);
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}
.dropdown-content{
    display: none;
    position: absolute;
    background-color: #000000;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.dropdown-content a{
    float: none;
    color: rgb(0, 0, 0);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

/*vertical-nav*/

#sidebar{
    padding-top: 50px;
}

.vertical-nav {
    padding-left: 10px;
    min-width: 6rem;
    width: 6rem;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1);
    transition: all 0.4s;
}
  
.page-content {
    width: calc(100% - 17rem);
    margin-left: 17rem;
    transition: all 0.4s;
}

/* @media (max-width: 768px) {
    #sidebar {
      margin-left: -17rem;
    }
} */