@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@900&display=swap');
* {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
}

.section-main {
    width: 100%;
    min-height: 100vh;
    position: relative;
    background: url(images/background.jpg) no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 100px;
}

.section-main h1 {
    font-size: 60px;
    color: rgba(255, 255, 255, 0.5);
    font-weight: 800;
    letter-spacing: 2px;
    line-height: 80px;
}

header {
    top: 0;
    left: 0;
    z-index: 999;
    position: fixed;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 20px 100px;
    transition: 0.6s;
}

header.sticky {
    background: #0e6fe3;
    padding: 15px 100px;
}

header .icon {
    font-size: 30px;
    font-weight: 700;
    color: #fff;
    text-decoration: none;
}

header .menu {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
}

header .menu a {
    color: #fff;
    padding: 0 10px;
    margin: 0 30px;
    font-size: 16px;
    font-weight: 500;
    text-decoration: none;
    border-radius: 20px;
    transition: 0.3s;
    transition-property: color, background;
}

header .menu a:hover {
    background: #fff;
    color: #000;
}

header .btn {
    color: #fff;
    font-size: 25px;
    cursor: pointer;
    display: none;
}

.section2 {
    background: #001018;
    min-height: 100vh;
    padding: 20px 100px;
}

.section2 h2 {
    color: rgba(255, 255, 255, 0.5);
    font-size: 50px;
    font-weight: 700;
    text-transform: uppercase;
    margin: 30px 0;
}

.section2 p {
    color: rgba(255, 255, 255, 0.5);
    font-size: 18px;
    margin: 30px 0;
}

@media (max-width: 1060px) {
    header .btn {
        display: block;
    }
    header .menu {
        position: fixed;
        background: #0e6fe3;
        flex-direction: column;
        height: 100vh;
        top: 0;
        right: -100;
        padding: 80px 50px;
        min-width: 400px;
        transition: 0.5s;
        transition-property: right;
    }
    header .menu.active {
        right: 0;
    }
    header .menu .close-btn {
        position: absolute;
        top: 0;
        left: 0;
        margin: 25px;
    }
    header .menu a {
        display: block;
        font-size: 20px;
        margin: 20px;
        padding: 0 15px;
    }
}

@media (max-width: 630px) {
    .section-main h1 {
        font-size: 50px;
        line-height: 60px;
    }
}